body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button style */

.button{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #128AF7;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition-duration: 0.3s;
}

.button:hover, button:focus, button:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: translateY(-5px) scale(1.02);
}